
  table {
    width: 99%;
    
  }

  .mat-form-field{
      width: 70%;
      margin-left: 5%;
  }

  a{
      margin-top: 3%;
      width: 20%;
      float: right;
  }

  .reduction{
     margin-left: 24%;
     
  }

  .fin{
    margin-left: 30%;

   
  }

  .debut{
    margin-left: 29%;
 
  }
 
  