.conteneur{
    background-color: rgb(247, 247, 249);
    height: 100%;
    width: 99.5%;
  }
  
  .item-2{
     margin-top: 9%;
  }


  .titre{
    font-size: 30px;
    margin: 0px 0px 15px 10px;
    color: #3f51b5;
    justify-content: centre ;
    margin-left: 2.3%;
    font-family: "Times New Roman", Times, serif;
}

mat-horizontal-stepper{
  margin-bottom: 120px;
} 