
  
<div class="admin">
  <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div class="item item-1" fxFlex="100%">
 
    <span class="text1">Camer Entreprise</span>
    <span class="text2">Bienvenu</span>
  




    <ul>
      <li><a href="#"><i class="fa fa-facebook" id="facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" id="twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus" id="google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram" id="instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp" id="whatsapp"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin" id="linkedin"></i></a></li>
    </ul>
  </div>
 
</div>

</div>

<mat-card></mat-card>



