
<div class="conteneur">
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="10%">Item 1</div>
    <div class="item item-2" fxFlex="80%">



      <mat-card class="titre" align="center">Creer un Controlleur</mat-card>


  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
       <ng-template matStepLabel>Profile du Controlleur</ng-template>


       <app-name></app-name>


      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Activité du Controlleur</ng-template>


        <app-profile></app-profile>


      </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Profile Complete</ng-template>


      <app-complete></app-complete>


    </mat-step>
  </mat-horizontal-stepper>


    </div>
  <div class="item item-3" fxFlex="10%"></div>
  </div>
  </div>


<!--
<app-complete></app-complete>
<app-name></app-name>
<app-profile></app-profile>
-->
