<div class="container content1"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item controlleurs" fxFlex="100%">

    <div class="mat-display-1">Controlleurs </div>

    <div class="mat-body-2">
     <p> It is a long established fact that a reader will be
       distracted by the readable content of a page when<br/>
        looking at its layout. The point of using Lorem Ipsum is
        that it has a more-or-less  <br/>of letters,
        as opposed to using 'Content here, content here', making it
        look
      </p>
    </div>

    <div class="container boutton"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
           <div class="item item-button" fxFlex="45%"></div>
            <div class="item item-button" fxFlex="20%">
             <a mat-raised-button  color="primary"  routerLink="/administrateur/adcompo/admin">Sign In</a>
           </div>
            <div class="item item-button" fxFlex="35%"></div>

      </div>




</div>
</div>
