<mat-card>
<div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div class="item item-1" fxFlex="5%"></div>
<div class="item item-2" fxFlex="45%">

  <p>
      <mat-form-field appearance="outline">
        <mat-label>Nom de L'usine</mat-label>
        <input type="text" name="name" id="name" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>


    <p>
        <mat-form-field appearance="outline">
          <mat-label>Contact </mat-label>
          <input type="text" name="contact" id="contact" matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
          <mat-label>Localisation</mat-label>
          <input type="text" name="localisation" id="localisation" matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>

  </div>
  <div class="item item-2" fxFlex="45%">


    <p>
      <mat-form-field appearance="outline">
        <mat-label>NUI</mat-label>
        <input type="text" name="nui" id="nui" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>RCCM</mat-label>
      <input type="text" name="rccm" id="rccm" matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>


    <div class="example-button-row">
        <button mat-raised-button>Logo</button>
        <div class="lien">
        <button mat-raised-button color="primary" matStepperNext routerLink=".">Next</button>
      </div>
      </div>

</div>
<div class="item item-3" fxFlex="5%"></div>
</div>
</mat-card>

