<mat-card>
  <div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div class="item item-1" fxFlex="2%"></div>
<div class="item item-2" fxFlex="46%">
   <div class="mat-headline">Nom de l'usine:</div>
   <div class="mat-headline">Localisation:</div>
   <div class="mat-headline">Name:</div>
   <div class="mat-headline">NUI:</div>
   <div class="mat-headline">RCCM:</div>

</div>
<div class="item item-2" fxFlex="47%">
  <div class="mat-headline">Nom de l'utilisateur:</div>
  <div class="mat-headline">Contact:</div>
  <div class="mat-headline">Identification:</div>
  <div class="mat-headline">Matricule:</div>
  <div class="mat-headline">Email:</div>

  <div class="example-button-row">
    <button mat-raised-button>rentrer</button>
    <div class="lien">
      <button mat-raised-button color="primary"  routerLink="/administrateur/adcompo/admin">Enregistrer</button>
    </div>
  </div>
</div>

<div class="item item-3" fxFlex="5%"></div>
</div>
</mat-card>
