<div class="container boutton"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
   <div class="item item1" fxFlex="100%">

         <div class="mat-display-1">Rechecher d'emploi ...!</div>


         <div class="cercle">
            <button mat-raised-button   color="primary" routerLink="/login">Demade d'emploi</button>

        <a routerLink=".">Blog .. ! </a>

      </div>

      <p>
            Copyright © company 2019. All rights reserved.
            Created by: compny
            </p>
      <div class="foo">Creer par: maxime KEMMAGNE</div>
   </div>


</div>




