<mat-card>
  <div class="container"
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div class="item item-1" fxFlex="2%"></div>
<div class="item item-2" fxFlex="46%">
   <div class="mat-headline">Type de Territoire:</div>
   <div class="mat-headline">Nom du Territoire:</div>
   <div class="mat-headline">Univerte de Vente</div>
   <div class="mat-headline">Date de Fonction</div>
</div>
<div class="item item-2" fxFlex="47%">
  <div class="mat-headline">Noms:</div>
  <div class="mat-headline">Prenons:</div>
  <div class="mat-headline">Genre:</div>
  <div class="mat-headline">Age:</div>
  <div class="mat-headline">Ville:</div>
  <div class="mat-headline">Matricule:</div>
  <div class="mat-headline">Telepone:</div>
  <div class="mat-headline">Mot de passe:</div>
  <div class="example-button-row">
    <button mat-raised-button   matStepperPrevious>Rentrer</button>
    <a mat-raised-button color="primary" routerLink="/controlleur/controlleur/controlleur">Enregistrer</a>
  </div>
</div>

<div class="item item-3" fxFlex="5%"></div>
</div>
</mat-card>
